h2.blog-title ABOUT ME
p 我的名字是王沃伦( Woolen ), 网名为 Woolen.
p 我是 88 后成员, 目前生活在深圳, 计划长期在这里发展.
p 当年毕业于广东工业大学计算机专业, 并在深信服工作至今.
p 对软件测试开发领域有浓厚兴趣,对新兴技术有特别强的好奇心. 平时多研究 Ruby on Rails, Web 开发等技术. 闲暇之余爱好中国象棋, 乒乓球, 读书.
  
h4 近期动态
p Woolen's Blog 博客才刚开始，基建于windy's Blog
a href="https://github.com/windy/wblog" target="_blank" windy_blog(Github)
= image_tag 'weixin.jpg'

h4 更多链接
ul
  li
    a href="https://github.com/just_woolen" target="_blank" Github
